<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>
<h2>Edit Job</h2>
<form method="POST" action="/jobs/update/<%= job.id %>">
  <label for="company">Company</label>
  <input type="text" value="<%= job.company %>" />
  <label for="position">Position</label>
  <input type="text" value="<%= job.position %>" />
  <label for="status">Status:</label>
  <select name="status">
    <option value="interview">Interview</option>
    <option value="decline">Declined</option>
    <option value="pending">Pending</option>
  </select>
  <button>Submit</button>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
<%- include("partials/footer.ejs") %>
